#faq_index .about_faq {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
#faq_index .faq_list {
  margin-top: 100px;
}
#faq_index .faq_list:last-of-type {
  margin-bottom: 100px;
}
#faq_index .faq_list>h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
#faq_index .faq_list li {
  padding: 20px 0;
  border-bottom: 1px solid #e5e1da;
}
#faq_index .faq_list li .question {
  display: flex;
  align-items: center;
  padding-right: 80px;
  position: relative;
}
#faq_index .faq_list li .question h2 {
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
  font-size: 36px;
  color: #7a99b8;
  background-color: #fff;
}
#faq_index .faq_list li .question h3 {
  font-size: 24px;
}
#faq_index .faq_list li .question span {
  position: absolute;
  right: 40px;
  font-size: 24px;
}
#faq_index .faq_list li .answer {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
#faq_index .faq_list li .answer h2 {
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
  font-size: 36px;
  color: #fff;
  background-color: #7a99b8;
}
#faq_index .faq_list li .answer p {
  padding: 5px 70px 0 0;
  font-size: 16px;
  line-height: 30px;
}
#faq_index .btn_back {
  width: 100%;
}
@media screen and (max-width: 960px) {
  #faq_index .faq_list li .question h3 {
    font-size: 20px;
  }
}
